.dialog {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 36px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  &:first-child {
    margin-top: 0;
  }
  &.active {
    background-color: rgba( #800000, .1);
    &::before{
      border-radius: 5px;
      left: -19px;
      position: absolute;
      content: '';
      height: 100%;
      width: 8px;
      background-color: #800000;
    }
  }
  text-decoration: none;
}

.name {
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-weight: 400;
  font-size: 19px;
}

.photo {
  width: 65px;
  height: 65px;

  img {
    width: 100%;
    border-radius: 50%;
  }
}