.chat{
  height: 100%;
  width: 100%;
}

.messages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.message{
  display: flex;
  align-items: center;
}

.photo {
  width: 20px;
  height: 20px;
  img {
    width: 100%;
  }
}