.navbar {
    background-color: yellow;
    grid-area: nav;    
}
.items{
    margin: 20px 0 0 30px;
}
.item{
    font-size: 18px;
    margin: 10px;
    a{
        text-decoration: none;
        &.active {
            color: green;
        }
    }
    &:last-child {
        margin-top: 20px;
    }
}