.header {
    width: 100%;
    background-color: tomato;
    grid-area: header;
    img{
        height: 60px;
    }
}

.loginBlock{
    float: right;
    a {
        text-decoration: none;
        color: white;
    }
}