.header {
    display: flex;
    width: 100%;
    background-color: #800000;
    grid-area: header;
    h1{
        user-select: none;
        margin: 0 auto;
        font-size: 77.8px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }
}

.loginBlock{
    float: right;
    a {
        text-decoration: none;
        color: white;
    }
}