.dialogs{
  height: 100%;
  width: 880px;
  display: grid;
  padding-top: 20px;
  margin: 0 auto;
  grid-template-columns: 300px 600px;
  grid-template-rows: 640px;
}

.dialogsItems{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 17px;
  background-color: #fff;
}

.messagesContainer{
  display: grid;
  grid-template-rows: 580px 60px;
  background-color: transparent;
}

.messages{
  overflow-y: auto;
  padding: 17px 50px;
  display: flex;
  flex-direction: column;
}
