.chat{
  height: 100%;
  width: 100%;
}

.messages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  //overflow: auto;
}

.message{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.photo {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  img {
    width: 100%;
  }
}