.message{
  width: 500px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0 0 0 10px;

}
.own{
  flex-direction: row-reverse;
}
.noOwn{
  flex-direction: row;
}

.text{
  word-wrap: break-word;
  display: inline-block;
  overflow-x: hidden;
  font-family: Roboto;
  font-size: 14px;
  width: 100%;
  padding: 8px 31px;
}

.senderName {

  margin-right: 18px;
}