.user{
  width: 610px;
  display: grid;
  grid-template-columns: 100px  430px 10px;
  gap: 20px;
  align-items: center;
  margin: 8px auto;
  &:first-child{
    margin-top: 0;
  }
  &_photo{
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
  &_name{
    font-family: "Roboto" ;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
  }
  &_status{
    word-break: break-all;
    max-width: 430px;
    font-family: "Roboto" ;
    font-size: 14px;
    font-weight: 400;
  }
}

.subscribe{
  background-color: #fff;
  border: none;
  img{
    width: 20px;
    height: 20px;
  }
}